<a href="#editCard<%= card.get('id') %>" data-toggle="modal" id="card<%= card.get('id')%>">
	<%= card.escape('body') %>
</a>
<div>
	<%= card.escape('assigned_to') %>
</div>

<!-- cardDetail Modal -->
<div class="modal fade" id="editCard<%= card.get('id') %>" tabindex="-1"
		 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
							  aria-hidden="true">&times;</button>
        <h4 class="modal-title">
					<%= card.escape('body') %>
				</h4>
      </div>
			
			<div class="modal-body" id="comments">
				<!-- comments view -->
      </div>
			
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
								data-dismiss="modal">Close</button>
				<button type="button" class="delete btn btn-danger" >
					Delete Card
				</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
