<div class="container">
	<form method="post" action="<%= users_url %>"class="form-signin">
	  <input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">
			 
		<h2 class="form-signin-heading">Create Account</h2>
		
		<% if !@user.errors.empty? %>
			<% @user.errors.full_messages.each do |message|%>
				<p class="text-danger"><%= message %></p>
			<% end %>
		<% end %>

		<label for="user_username">			 
		<input type="text" class="form-control" 
				   name="user[username]" placeholder="Username" 
					 value="<%= @user.username %>" id="user_username" autofocus>			 
	
		<label for="user_email">			 					 
		<input type="text" class="form-control" 
					 name="user[email]" placeholder="Email address"
					 value="<%= @user.email %>"
					 id="user_email">
					 					 
		<label for="user_password">			 
		<input type="password" class="form-control" 
			   	 name="user[password]" placeholder="Password"
					 id="user_password">
		<button class="btn btn-large btn-primary" type="submit">Create</button>
	</form>
	<br>
	<p> Already have an account? <a href="<%= new_session_url %>">Sign In</a>	
</div>

