<ul class="list-group">
	<div class="list-group-item active">						
		<span class="editList" data-id="<%= list.get('id') %>">
			<%= list.escape('title') %>
		</span>
			<a href="#" id="drop<%= list.get('id') %>" role="button" 
				 class="dropdown-toggle btn btn-info btn-xs" data-toggle="dropdown" 
				 style="float:right">
				<b class="caret"></b>
			</a>

			<ul class="dropdown-menu" role="menu" 
					aria-labelledby="drop<%= list.get('id') %>" 
					style="right: 0; left: auto">
					<li role="presentation" class="text-center">
						<p class="delete btn btn-danger btn-sm" 
							data-id="delete-list-<%= list.get('id') %>">
							DELETE LIST
						</p>
					</li>
			</ul>
	</div>
	<div class="list-group-item" id="cards-<%= list.get('id') %>">							
		<div class="connectedSortable" id="list-<%= list.get('id') %>">
			<!-- card view -->
		</div>
	</div>

	<div class="list-group-item" id="createCardButton-<%= list.get('id') %>">
		<div class="newCard" data-id="<%= list.get('id') %>">
			<button type="button" class="btn btn-success btn-sm btn-block" id="createCard">
				create card
			</button>
		</div>
	</div>
	
	<div class="list-group-item hidden" id="createCardForm-<%= list.get('id') %>">
		<!-- card form view -->
	</div>
</ul>
